/* ------------------------------------------------------- * 
    $BUTTONS
 * ------------------------------------------------------- */

.btn {
    display: inline-block;
    color: $color-btn;
    background-color: $color-btn-background;
    line-height: 2.5;
    border-radius: $border-radius;
    font-size: $font-base-size;

    &__icon {
        font-size: .6em;
    }

    &--info {
        background-color: $color-btn-background;
    }
}